body{
  text-align: center;
  width: 70%;
  font-family: 'Coming Soon', cursive;
  margin: 0 auto;
}

h1{
  margin: 10px 0px;
}

#container-entries{
  display: inline-block;
  width: 100%;
}

#container-input{
  margin: 10px 0px;
  padding: 8px 0px;
  background-color: #82B1FF;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.entry{
  display: inline-block;
  padding: 8px 0px;
  margin: 3px 0px;
  width: 100%;
  height: 32px;
  background-color: #E0E0E0;
  border-radius: 4px;
}

.entryText{
  display: inline-block;
  width: 80%;
  background-color: white;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border-radius: 4px;
  text-align: left;
  border: 2px outset;
}

button{
  height: 30px;
  width: 60px;
  margin: 0 0 0 5px;
  border-radius: 4px;
  border-color: white;
  display: inline-block;
  font-family: 'Coming Soon', cursive;
  font-size: 14px;
}

#inputBox{
  border: 2px inset;
  font-family: 'Coming Soon', cursive;
  font-size: 14px;
}

.deleteButton{
  background-color: #FF8A80;
}

.inputButton{
  background-color: #2979FF;
  color: white;
}

.fa-arrows-v{
  margin-right: 8px;
}
